<div>
	<div style="display:inline-block; width:45%; text-align:left;">
		Problem with this job?
		<a target="_blank"
			href="mailto:ithelp@clemson.edu?subject=Palmetto OnDemand Issue&body=Session ID: <%= id %>%0D%0AJob ID: <%= job_id %>%0D%0A%0D%0APlease enter additional information:">Let
			us know</a>
		<br>
		<b>Read the <a target="_blank" href="https://docs.rcd.clemson.edu/palmetto/faq#open-ondemand-questions">FAQ</a>
			before submitting a ticket!</b>
	</div>
	<div style="display:inline-block; width:45%; text-align:right; vertical-align: top;">
		<a target="_blank" href="https://docs.rcd.clemson.edu/palmetto/connect/openod/apps/jupyter">
			<button class="btn btn-primary">
				<i class="fa fa-book"></i> OOD Jupyter Documentation
			</button>
		</a>
	</div>
</div>